{% load staticfiles %}

<!-- jQuery -->
<script src="{% static "jquery/dist/jquery.min.js" %}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{% static "bootstrap/dist/js/bootstrap.min.js" %}"></script>

<!-- Metis Menu Plugin JavaScript -->
<script src="{% static "metisMenu/dist/metisMenu.min.js" %}"></script>

<!-- Morris Charts JavaScript -->
<script src="{% static "raphael/raphael-min.js" %}"></script>
<script src="{% static "morrisjs/morris.min.js" %}"></script>

<!-- Custom Theme JavaScript -->
<script src="{% static "sbadmin/js/sb-admin-2.js" %}"></script>